body {
    font-family: Proxima Nova, sans-serif;
    background-color: lightblue;
    color: black;
}

h1 {
    font-family: Proxima Nova, sans-serif;
    color: rgb(0, 32, 0);
}

img {
    width: 300px;
}